<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Ur number:</strong>
  <%= @patient.ur_number %>
</p>

<p>
  <strong>Medicare:</strong>
  <%= @patient.medicare %>
</p>

<p>
  <strong>Credit card:</strong>
  <%= @patient.credit_card %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @patient.notes %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
